$text-color-grey: #404044;
$text-color-grey-light: #56595c;
$text-color-grey-light-2: #8e8f92;
$text-color-blue: #3c6dff;
$text-color-lemongrey: #6f8800;
$text-color-black: #000000;
$text-color-white: #ffffff;

$color-black-dark: #0d0d0e;
$color-black-light: #131314;
$color-grey-dark: #212122;
$color-green: #00be6e;
$color-lemon: #d1fd0a;
